.modal-header{
    padding: 5px 15px;
    background-color: rgb(255, 225, 225);
}
.modal-title{
    font-size: 18px;
    color: black;
}
.modal-footer{
    padding: 5px 15px;
}
.actionbtnContainer{
    display: flex;
    align-items: center;
}
.actionbtnContainer > button{
    border: 0;
    margin: 0 5px;
    font-size: 12px;
}
